<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{hasData() == true ? 'Edycja' : 'Dodaj'}} Pojazd</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
        <ion-select placeholder="Kierowca" formControlName="workerId">
            <ion-select-option *ngFor="let worker of workers | filterBy: ['role']: 0"
                               value="{{worker.id}}">{{worker.firstname}}</ion-select-option>
        </ion-select>
        <ion-select placeholder="Przyczepa" formControlName="semiTrailerId">
            <ion-select-option *ngFor="let semi of semiTrailers" value="{{semi.id}}">{{semi.registrationNumber}}</ion-select-option>
        </ion-select>
        <ion-item>
            <ion-label position="floating">Numer rejestracji</ion-label>
            <ion-input type="text" formControlName="registrationNumber"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Numer samochodu</ion-label>
            <ion-input type="text" formControlName="vehicleNumber"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Typ samochodu</ion-label>
            <ion-input type="text" formControlName="vehicleType"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Lokalizacja</ion-label>
            <ion-input type="text" formControlName="localization"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit"
                    [disabled]="!vehicleForm.valid">{{ hasData() == true ? 'Edit' : 'Add'}}</ion-button>
    </form>
</ion-content>
