<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title >Pracownicy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let worker of workers">
      <ion-item [routerLink]="['details',worker.id]">
          <ion-label>
            {{worker.firstname}} {{worker.lastname}}
          </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteWorker(worker.id)">
          <ion-icon name ='trash'></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="displayMore($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loadingText="Loading more data..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addWorkerModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
