<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button default-href="/vehicles"></ion-back-button>
        </ion-buttons>
        <ion-title>Zamówienie {{details.id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header color="primary">Dane Zlecenia</ion-list-header>
        <ion-item>
            <ion-label>
                Ładunek: {{details.cargo}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Miejsce załadunku: {{details.loadingPlace}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Miejsce rozładunku: {{details.unloadingPlace}}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="details.customer !== null">
        <ion-list-header color="primary">Dane Firmy/Klienta</ion-list-header>
        <ion-item>
            <ion-label>
                Nazwa firmy/klienta: {{details.customer.companyName}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Numer telefonu: {{details.customer.companyPhone}}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                Adres: {{details.customer.companyAddress}}
            </ion-label>
        </ion-item>
    </ion-list>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYTk3ODEiLCJhIjoiY2thOWU3YWswMGx4bjJ6bXR3dzB0bWRtaCJ9.eblrxW8xIgV_5Ads1bz4SA';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: [-74.5, 40], // starting position [lng, lat]
            zoom: 9 // starting zoom
        });
    </script>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="editOrder()">
            <ion-icon name="create-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
