<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Witaj </ion-title>
    <ion-button slot="end" size="default" shape="round" expand="full" class="me-details" (click)="aboutMe()">
      <ion-icon name="person-outline"></ion-icon> {{user.firstname}} {{user.lastname}}
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)="workersPage()">Workers</ion-button>
  <ion-button expand="full" (click)="vehiclePage()">Vehicle</ion-button>
  <ion-button expand="full" (click)="semiTrailerPage()">SemiTrailers</ion-button>
  <ion-button expand="full" (click)="ordersPage()">Orders</ion-button>
  <ion-button expand="full" (click)="customersPage()">Customers</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
  <ion-button expand="full" (click)="start()">StartTracking</ion-button>
  <ion-button expand="full" (click)="stop()" color="danger" >StopTracking</ion-button>
  <ion-list>
    <ion-item>
      <ion-label>Latitude: {{locationTracker.lat}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Longitude: {{locationTracker.lng}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
