<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Witaj {{user.firstname}} {{user.lastname}}</ion-title>
    <ion-button slot="end" size="default" shape="round" expand="full" class="me-details" (click)="aboutMe()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)="workersPage()">Workers</ion-button>
  <ion-button expand="full" (click)="vehiclePage()">Vehicle</ion-button>
  <ion-button expand="full" (click)="ordersPage()">Vehicle</ion-button>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
</ion-content>